.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.cardSmall {
	height: 80px;
	width: 60px;
	margin: 5px;
}

.cardMedium {
	height: 160px;
	width: 120px;
	margin: 5px;
}

.newGameContainer {
	margin-top: 20px;
}

.stats {
	margin: 10px;
}

.gameResult {
	margin: 10px;
}

.cardContainer {
	display: inline-block;
}